<h1>{{title}}</h1>
<p>Powered by {{framework}}</p>
<p>The app:</p>
<ul>
  <li><a href="/forms">Forms</a>: A look at form tracking</li>
  <li><a href="/forms?firstname=Jynn&lastname=Erso&email=jerso@rougeone.com&single_checkbox_test=true&number_test=1&single_line_test=Don%27t%20choke%20on%20your%20aspirations&multi_checkbox_test=multi%20check%20two&currency_test=1000000&drop_down_test=drop_down_one&campaign=stardust">Form Parameters</a>: A look at form parameters autofill</li>
  <li><a href="/login">Login</a>: A login use case with identify and a custom event</li>
</ul>